h1,h5,body,main{
    margin: 0;
}

header{ 
    margin: 15px auto 15px;
    width: 340px;  
}

.Head-portrait{
    width: 45px;
    height: 45px;
    background:url(image/star.jpg) center/cover;
    border-radius: 50%;
    align-self: flex-end;
}

main{
    width: 375px;
    /* flex-flow:row wrap;
    display: flex; */
}

section{    
    width: 340px;
    height: 400px;
    margin: 0 auto 30px;
    border-radius:25px;
    font-size: 20px;
    font-weight: bold;
    box-shadow:0px 0px 50px 10px rgba(204, 204, 204, 0.64);; 
}

.section_1{
    background: url(./image/Odyssey.jpg) center/cover;
    text-align: center;
}

.section_2{
    background: url(./image/marlve.gif) center no-repeat;
}

video{
    width: 340px;
    height:280px;
    object-fit: fill;
    border-radius: 25px 25px 0 0 ;
}

.section_4{
   
}

#fonz{
    position: absolute;
    left: 40px;
}

button{
    display: block;
    width: 340px;   
    height: 50px;
    margin: 0 auto 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(240, 240, 240, 0.829);
    text-align: center;  
    color: #375df5;
    font-size: 20px;
    font-weight: bold;
}

.top-up{
    margin-bottom: 30px;
}

footer{
    margin-bottom: 20px;
}

.clause{
    margin-top: 20px;
}

.recommend{
    position: fixed;
    display: none;
    border-radius:25px;
    margin: 0 17.5px 0;
    background-color: white;
    animation: spend 0.5s linear forwards;
    overflow: hidden;
}
.disrecommed{
    animation: onback 0.5s linear forwards;
}

@keyframes onback{
    0%{top:0;height:100%;width:100%;border-radius:0px;position:fixed;margin:0;overflow: auto;}
    100%{width:340px;height:400px;border-radius:25px;position:fixed ;overflow: hidden;}
}

@keyframes spend{
    0%{width:340px;height:400px;border-radius:25px;position:fixed ;overflow: hidden;}
    80%{top:-20px;height:100%;border-radius:10px; overflow: hidden; }
    100%{top:0;height:100%;width:100%;border-radius:0px;position:fixed;margin:0;overflow: auto;}
}


#top{
    height: 400px;
    background: url(image/Odyssey.jpg) center/cover;
    text-align: center;
}

#fonz_2{
    height: 80px;
}

#top_2{
    height: 250px;
    background: url(image/marlve.gif) center/cover;

}

#top_3{
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 0;
}

.end{
    height: 300px;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 90px;
    height: 90px;
    background:url(./image/icon1.png) center/cover;
    border-radius: 25%;  
}
.back{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    /* background: url(./image/back.png) center/cover; */
    background: gray;
    color: white;
    text-align: center;
}

.getit{
    width: 80px;
    height: 30px;
    background: #375df5;
    margin:0;
    color: white;
    border-radius: 20px;
}

.circle{
    width: 30px;
    height: 30px;
    background: #375df5;
    border-radius: 50%;
}

.appname{
    margin: 5px auto 0;
    font-size: 30px;
    color: #375df5;
}

.summary{
    margin: 10px auto 0;
    color:#C4C4C4;
}

.sharepage{
    height: 60px;
    background:white;
}
.share{
    width: 150px;
    height: 50px;
    margin-top: 50px;
}

.introduction{
    background: white;
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    animation: inter 0.5s linear forwards;
}

.disapper{
    animation:  back 0.5s linear forwards;
}

@keyframes back{
    0%{position:fixed;left:0;overflow: hidden;}
    100%{position:fixed;left:100%;overflow: hidden;}
}

@keyframes inter{
    0%{position:fixed;left:100%; ;overflow: hidden;}
    100%{position:fixed;left:0;overflow: auto;}
}

.pic{
    margin-right: 20px;
    width: 120px;
    height:120px;
    border-radius: 25%;
    background: url(./image/icon1.png) center/120% ;
}

.intop{
    display: flex;
    flex-flow: wrap;
}

.f-s-s{
    font-size: 18px;
}

.f-s-m{
    font-size: 20px;
}

.f-s-b{
    font-size: 25px;
}